{% load admin_list %}
{% load i18n %}
<div class="btn-toolbar" style="vertical-align:top; margin-top:0 !important; padding-top:0 !important; margin-right: 3px !important;">
    {% if pagination_required %}
        {% for i in page_range %}
            {% paginator_number cl i %}
        {% endfor %}
    {% endif %}
    {% ifequal cl.result_count 0 %}
    {% else %}
        <span class="label">{{ cl.result_count }}
            {% ifequal cl.result_count 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endifequal %}
        </span>
    {% endifequal %}
    {% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall btn btn-mini">{% trans 'Show all' %}</a>{% endif %}
    {% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>{% endif %}
</div>
