{% load i18n admin_static admin_list %}
{% if cl.has_filters or cl.search_fields %}
<div class="row-fluid well">
    <!--div -->

 <!-- Blocos dos filtros -->
      {% block filters %}
        {% if cl.has_filters %}
        <div class="btn-group" style="float:left; margin: 0  20px 0 5px; ">
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" data-target="#" href="path/to/page.html">
            <i class="icon-search icon-white"></i>
              <strong>{% trans 'Filter' %}</strong>
                <b class="caret"></b>
          </a>
          <ul id="ul-filtro" class="dropdown-menu">
             <li>{% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}</li> 
          </ul>     
        </div>
        {% endif %}
      {% endblock %}
  <!-- fim do bloco dos filtros --> 

<!-- </div>
<div class="span10"> -->
{% if cl.search_fields %}
<div style="float:left;"><form id="changelist-search" action="" method="get" class="row-fluid form-search">
<div><!-- DIV needed for valid HTML -->
<!-- label for="searchbar"><img src="{% static "admin/img/icon_searchbox.png" %}" alt="Search" /></label -->
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
<input type="submit" value="{% trans 'Search' %}" class="btn btn-primary btn-small" />
{% if show_result_count %}
    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
{% endfor %}
</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
</div>
{% endif %}
<!--/div -->